.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.hero-image { 
    background-image: url('/assets/hero.jpeg'); 
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top:auto; */
    opacity: .7;

  }
/* .headshot {
    max-width: 25rem;
    max-height: 15rem;
} */

.img-responsive {
    max-width: 100%;
}

.contactContainer {
    margin-left: 12%;
}

.contactCards {
    margin-bottom: 10%;
}

.meetingButton {
    margin-top: 2%;
}

.lndbtn {
    background-color: rgb(62, 87, 62);
    color: #ffffff;
}