<!-- <h3 class="title">Contact Us</h3> -->

<div class="container-fluid" style="margin-top: 20%;">
    <!-- <div class="row"> -->
    <!-- <h4 class="title;">Contact Us</h4> -->
<!-- </div> -->

<div class="row">
    <div class="col-sm-6">
        <img class="d-block w-100" style="margin-bottom: 3%" src="/assets/E_D.png">

        <!-- <h5>Thank you for your interest in Equine Care and Management</h5>
        <h5>We'd like to hear from you. </h5>

        <button class="lndbtn btn btn-lg" onclick="window.location.href='mailto:eileen@ecm-serv.com'">Click to email us!</button>
                -->
        <!-- </p> -->
    </div>
    <div class="col-sm-6">
        <img class="d-block w-75" src="assets/logoECM.png">
    <!-- </div> -->
    <h5 style="margin-left: 7%;">Thank you for your interest in Equine Care and Management</h5>
    <h5 style="margin-left: 7%;">We'd like to hear from you. </h5>

    <button class="lndbtn btn btn-lg" style="margin-bottom: 3%; margin-left: 7%;" onclick="window.location.href='mailto:eileen@ecm-serv.com'">Click to email us!</button>
            
    <!-- <div class="container landingContainer"> -->
        <!-- <div class=row>
            <div class="col"> -->
            <!-- <h3>Contact Talent Management</h3> -->
    <!-- <h5>We'd like to hear from you. </h5> -->
    
            <!-- </div> -->
            <!-- <p>Thank you for your interest in Equine Care and Management</p>
            <div class="col-lg-6 greetingHead">
                <p class="welcome-text"> -->
                
                    <!-- <button class="lndbtn btn btn-lg" onclick="window.location.href='mailto:eileen@ecm-serv.com'">Click to email us!</button> -->
                
                <!-- </p> -->
                <!-- <p>Thank you for your interest in Equine Care and Management</p> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
<!-- </div> -->
<!-- 
<div class="card-deck contactCards contactContainer">
    <div class="col">

        <div class="card" style="width: 18rem; height: 36rem">
            <img class="card-img-top cardImage" src="assets/MTW_LC2023.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class= "card-title">Maggie Techner</h5>
                <h6 class="card-title">Talent Associate</h6>
                <p class="card-text">Maggie (she/her) is a LaunchCode graduate who also TA'd for the WebDev courses.</p>
                <a href="mailto:maggietw@launchcode.org" class="btn btn-primary contactButton">Email</a><br>
                <a href="https://calendly.com/maggietw/30min" target="_blank" class="btn btn-primary contactButton meetingButton">Schedule a Meeting</a>
            </div>    
        </div>
    </div>
  

  <div class="col">
    <div class="card card-deck" style="width: 18rem; height: 36rem">
        <img class="card-img-top cardImage" src="assets/sconey_profile.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Shaw Coney</h5>
          <h6 class="card-title">Senior Talent Manager</h6>
          <p class="card-text">Shaw (they/them) is a LaunchCode graduate who also TA'd for the part-time WebDev and LiftOff courses.</p>
          <a href="mailto:shaw@launchcode.org" class="btn btn-primary contactButton">Email</a><br>
          <a href="https://calendly.com/launchcode-shawc/one-on-one-with-shaw" class="contactButton meetingButton btn btn-primary" target="_blank">Schedule a Meeting</a>
        </div>
    </div>

  </div>
 -->

  <!-- </div> -->



