<html>
    <head>
        <title>ECM_Navbar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

    <body>
        <!-- <div class="container-fluid"> -->
        <!-- <div class="background"></div> -->


        <!-- <div class="container-fluid" style="background-color: rgb(62, 87, 62)">Welcome</div> -->
        <!-- <div class="hero-image">

        </div>  -->


<nav class="navbar sticky navbar-expand-lg navbar-dark" style="background-color: rgb(61, 73, 43)">
    <a class="logo nav-link" href="/home">Equine Care and Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="container-flex collapse navbar-collapse" id="navbarTogglerDemo02">
        <div id="navbar" style="background-color: rgb(61, 73, 43);">
        <ul class="navbar-nav width:100%">

<!-- Regular nav bar items NavBar issues w/ spacing, etc...-->

            <!-- <li class="nav-item" style="margin-left:auto">
                <a class="logo nav-link" href="/home">Equine Care and Management</a>
            </li> -->
            <li class="nav-item">
                <a class="container-flex nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="container-flex nav-link" href="/buy">Interested in Buying?</a>
            </li>
            <li class="nav-item">
                <a class="container-flex nav-link" href="/sell">Interested in Selling?</a>
            </li>
            <li class="nav-item">
                <a class="container-flex nav-link" href="/other">Other Services</a>
            </li>
            <li class="nav-item lastNav">
                <a class="container-flex nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<!-- 
    <div id="navbar">
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/buy-a-horse">Interested in Purchasing</a>
        <a href="/sell-your-horse">Interested in Selling</a>
        <a href="/other-services">Other Services</a>
        <a href="/contact">Contact Us</a>
</div> -->


<!-- <script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script> -->

</nav>
<!-- </div> -->
</body>
</html>
