<footer class="d-flex justify-content-center mt-50">
    <div class="container">
  <div class="row">
    <!-- <div class="col"> -->

      <!-- <div class="row"> -->
        <!-- <div class="col-md-6 offset-md-1"> -->
          <!-- <h4 style="color: #ffffff;">ECM</h4>  -->

          <!-- <div class="row row-cols-2 row-cols-md-3 lclinks"> -->

          <!-- <div class="col"><a style="color:white;" href="https://www.launchcode.org/about">Get Started</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/employer-services">For Companies</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/donate">Donate</a></div>
            <div class="col"><a style="color:white;" href="https://blog.launchcode.org">Blog</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/store">Store</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/about">About</a></div>
            <div class="col"><a style="color:white;" href="https://wwww.launchcode.org/impact">Our Impact</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/press">Press</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/faq">FAQ</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/apprentice">Apprentice</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/talent">Hire</a></div>
            <div class="col"><a style="color:white;" href="https://www.launchcode.org/community-programs#volunteer">Volunteer</a></div>
            <div class="col"><a style="color:white;" href="https://launchcode.aaimtrack.com/jobs/">Work Here</a></div>
          </div>
        </div> -->
        <hr />
        <div class="col-5">
          <!-- <div class=""> -->
            <img class="logo img-responsive" src="assets/ovallogo.png">
          </div>
          <!-- <p> -->
              <!-- <div class="col-md-5 ">
          <div class=""> 
            <h4 style="color:#ffffff;">Keep in Touch!</h4>
            <a href="mailto:eileen@ecm-serv.com">
              <span class="sr-only">Email Us</span>
              <i class="fa-solid fa-envelope social" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
              <span class="sr-only">Facebook</span>
              <i class="fa-brands fa-facebook social" aria-hidden="true"></i>
            </a>
            <a href='https://twitter.com/' target="_blank">
              <span class="sr-only">X</span>
              <i class="fa-brands fa-twitter social" aria-hidden="true"></i>
            </a>
            <a href='https://www.linkedin.com/' target="_blank">
              <span class="sr-only">LinkedIn</span>
              <i class="fa-brands fa-linkedin social" aria-hidden="true"></i>
            </a>
            <a href='https://www.instagram.com/' target="_blank">
              <span class="sr-only">Instagram</span>
              <i class="fa-brands fa-instagram social" aria-hidden="true"></i>
            </a>
          
        </div> -->
      <!-- </div> -->
    <!-- </div>  -->
    <div class="col"></div>
  <!-- <div class="row mb-4"> -->
    <div class="col">
      <p style="color:white; position:absolute; bottom: 0; text-align: right;">&copy;2024 Equine Care and Management, LLC<p>
        <br />
        
    </div>
  <!-- </div> -->
</div>
<!-- </div> -->

