/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
}

.library-topic {
    text-align: center;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
}

.topic-cards-one {
    background-color: #5c93ce;
    color: white;
}

.topic-cards {
    background-color: #344a5f;
    color: white;
}

.cardText {
    margin: 10px;
    text-align: center;
}

html, body {
    width: auto!important; 
    /* height: 100vh;
    width: 100vw; */
    overflow-x: hidden!important
} 



/* .nav-item {
    margin-right: 2%;
} */


