
<h4 style="margin-top: 10%;">INTERESTED IN SELLING?</h4>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <img class="d-block w-75" style="margin-bottom: 5%" src="assets/1.jpeg" alt="horses on black">
    </div>


<!-- <hr/> -->
<div class="col">
<h5>What ECM Looks for: </h5>
<p>
    We are in the market for 5-9 year old horses which demonstrate promise as show horses in the equitation, 
    hunter and/or jumper disciplines. 
</p>

<p>We will:</p>
    <ul>
        <li>Review videos to assess scope and abilities</li>
        <li>Review veterinary history and nutritional information (required)</li>
        <li>Conduct pre-purchase exams</li>
      </ul>
      <br/>
      <p>Test rides and trials to be determined.</p>
<hr/>

</div>
</div>
</div>


