<h4 style="margin-top: 10%;">INTERESTED IN PURCHASING?</h4>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-6">
            <img class="d-block w-100" style="margin-bottom: 5%" src="assets/2.jpeg" alt="Eileen w/ horses">
        </div>

<div class="col-sm-6">

    <h5>What ECM does for you:</h5>
    
    <p>We strive to align the needs of prospective owners with our inventory of horses. </p>

    <p>We will provide:</p>
    <ul>
        <li>Videos to help access scope and abilities.</li>
        <li>Veterinary history and nutritional information upon request.</li>
        <li>Access to horses for pre-purchase exams, which are welcomed at the buyer's expense.</li>
      </ul>
      <br/>
      <p>Trials will be considered, but not guaranteed.</p>
<hr/>
<hr/>
            

<!-- Button/Collapse to reveal horses for sale -->


<!-- <p> -->
    <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
    </a> -->
    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> -->
        <h4>HORSES AVAILABLE FOR PURCHASE:</h4>
    <!-- </button> -->
  <!-- </p> -->
  <!-- <div class="collapse" id="collapseExample">
    <div class="card card-body"> -->
        <p>There are no horses available for sale at this time.</p>
    <!-- </div> -->
  </div>
</div>
</div>

